<% include header %>

<h1> The Museum of Modern Art</h1>
<p>Open today, 10:30 a.m.–5:30 p.m.<br>11 West 53 Street, Manhatta</p>



<br><br><br>
<h1> In the spotlight</h1>

  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section>

        <a href=/items/<%- item.id %>><img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>"></a>

        <h2>
          <a href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>
        <h3>
          <a href=/items/<%- item.id %>>- <%- item.categorieen %> -</a>
        </h3>

        <p>
          <%- item.samenvatting %>
        </p>
    </section>
    <hr>
    <% teller++;}); %>


<% include footer %>
